{% extends "themes/base_admin.html.twig" %}

{% block title %} Nouvel article{% endblock %}

{% block description %}Nouvel article{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouvel article</h1>

    <div class="container mt-5">
        {{ form_start(form) }}
            <div class="mb-3">
                <div class="text-danger">{{ form_errors(form.title) }}</div>
                <label for="post_form_title">Titre</label>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <div class="text-danger">{{ form_errors(form.category) }}</div>
                <label for="post_form_category">Catégorie</label>
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <div class="text-danger">{{ form_errors(form.imageFile) }}</div>
                <label for="post_form_image">Image</label>
                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <div class="text-danger">{{ form_errors(form.content) }}</div>
                <label for="post_form_content">Contenu</label>
                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 10}}) }}
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Créer" formnovalidate/>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
