{% extends "themes/base_visitor.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block description %}{{ post.title }}{% endblock %}

{% block main %}
    <div class="container">

        <div class="container my-4">
            <nav aria-label="breadcrumb py-5">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ path('visitor.blog.index') }}">Liste des articles</a></li>
                  <li class="breadcrumb-item" aria-current="page">Article n°{{ post.id }}</li>
                </ol>
            </nav>
        </div>

        <div class="text-center my-3">
            <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="" class="img-fluid">
        </div>

        <div class="text-center">
            <h1 class="my-3 display-5">{{ post.title }}</h1>
            <small class="lead">Créé le {{ post.createdAt|date("m/d/Y") }} et modifié le {{ post.updatedAt|date("m/d/Y à H:i:s") }}</small>
        </div>

        <div class="container">
            {{ post.content|raw }}
        </div>

        <a class="js-like-link" href="{{ path('visitor.blog.post.like', {'id': post.id, 'slug': post.slug}) }}">
            {% if app.user and post.isLikedByUser(app.user) %}
                <i class="fa-solid fa-thumbs-up"></i> 
            {% else %}
                <i class="fa-regular fa-thumbs-up"></i>
            {% endif %}
            <span class="js-likes-length">{{ post.postLikes|length }}</span>
            <span>J'aime</span>
        </a>




        <hr class="my-5">

        <div class="container my-4">
            <h2>Nouveau commentaire</h2>
            {% if app.user %}
                {{ form_start(form) }}
                    <div class="mb-3">
                        <div class="text-danger">{{ form_errors(form.content) }}</div>
                        {{ form_widget(form.content, {'attr' : {'class' : "form-control"}}) }}
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary" value="Envoyer" formnovalidate />
                    </div>
                {{ form_end(form) }}
            {% else %}
                <p>Veuillez vous <a href="{{ path('visitor.registration.register') }}">inscrire</a> ou vous <a href="{{path('visitor.authentication.login')  }}">connecter</a> pour laisser un commentaire.</p>
            {% endif %}
        </div>


        <div class="container">
            {% if post.comments|length == 0 %}
                <p>Aucun commentaire laissé. Soyez le premier! </p>
            {% else %}
                <hr class="my-5">
                <h2>Les commentaires</h2>
                {% for comment in post.comments %}
                    <div class="container bg-white shadow p-3">
                        {% if comment.getUser.email == "pascal-monnier@gmail.com" %}
                            <h4 class="lead">{{ comment.getUser.getFirstName }} {{ comment.getUser.getLastName }} <span class="badge text-bg-primary">Auteur</span></h4>
                            {% else %}
                            <h4 class="lead">{{ comment.getUser.getFirstName }} {{ comment.getUser.getLastName }}</h4>    
                        {% endif %}
                    
                        <p>{{ comment.content }}</p>
                    </div>
                    <hr class="my-2">
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>

        function onClickBtnLike(event)
        {
            event.preventDefault();

            const url = this.href;
            const spanLength = this.querySelector('span.js-likes-length');
            const icone = this.querySelector('i');

            axios.get(url)
            .then(function(response) {
                const postLikes = response.data.postLikes;
                spanLength.textContent = postLikes;

                if(icone.classList.contains('fa-regular'))
                {
                    icone.classList.replace('fa-regular', 'fa-solid');
                }
                else
                {
                    icone.classList.replace('fa-solid', 'fa-regular');
                }
            })
            .catch(function(error) {
                if(error.response.status === 403)
                {
                    alert('Vous ne pouvez pas aimé cet article  sans être connecté');
                }
                else
                {
                    alert("Une erreur s'est produite, veuillez reessayer plus tard");
                }
            })
        }

        const link = document.querySelector(".js-like-link");

        link.addEventListener("click", onClickBtnLike);
    </script>
{% endblock %}